# App
PORT=
PROJECT_ID=

# Elasticsearch
ES_HOST=

# Keycloak
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT=

# Genomic feature suggestions
MAX_NUMBER_OF_GF_SUGGESTIONS=
GENES_SUGGESTIONS_INDEX_NAME=
VARIANTS_SUGGESTIONS_INDEX_NAME=
VARIANTS_SOMATIC_SUGGESTIONS_INDEX_NAME=

# Sets
USER_API_URL=
MAX_SET_CONTENT_SIZE=

# Cache
CACHE_TTL_SEC=
